p{
  background-color:aqua;
  font-family: Arial;
  font-size: 30px;
  color:white;
  text-align:center;
  padding: 10px;
}
h1{
  text-align:center;
  color:orange;
  font-family: Arial;
}
h2{
  text-align:center;
  color:red;
  font-family: Arial;
}
h3{
text-align:center;
  color:purple;
  font-family: Arial;
}
