p{
  background-color:aqua;
  font-family: Arial;
  font-size: 30px;
  color:black;
  text-align:center;
  padding: 10px;
}
h1{
  background-color: #0277BD;
        border-radius: 20px;
        margin: 0 auto;
        width: 50%;
        height: 50px;
        text-align: center;
        padding: 20px 0px 0px 0px;
        letter-spacing: 1px;
        font-size: 25px;
        color:white;
}
h2{
  background-color: #8532a8;
        border-radius: 20px;
        margin: 0 auto;
        width: 50%;
        height: 50px;
        text-align: center;
        padding: 20px 0px 0px 0px;
        letter-spacing: 1px;
        font-size: 25px;
        color:white;
}
h3{
background-color: #877d0b;
        border-radius: 20px;
        margin: 0 auto;
        width: 50%;
        height: 50px;
        text-align: center;
        padding: 20px 0px 0px 0px;
        letter-spacing: 1px;
        font-size: 25px;
        color:white;
}
